/1_4_7/bin/*
/1_4_7/conf/*
/1_4_7/docs/*
/1_4_7/eclipse/*
/1_4_7/forge/*
/1_4_7/jars/*
/1_4_7/lib/*
/1_4_7/logs/*
/1_4_7/modsrc/*
/1_4_7/reobf/*
/1_4_7/runtime/*
/1_4_7/temp/*

/1_4_7/src/minecraft/cpw/*
/1_4_7/src/minecraft/net/*
/1_4_7/src/minecraft/ibxm/*
/1_4_7/src/minecraft/paulscode/*
/1_4_7/src/minecraft/*.cfg
/1_4_7/src/minecraft/fmlversion.properties
/1_4_7/src/minecraft/*.png
/1_4_7/src/minecraft/Start.java
/1_4_7/src/minecraft/mcpmod.info
/1_4_7/src/minecraft/gfx/*
/1_4_7/src/minecraft/lang/*

/1_5_2/bin/*
/1_5_2/conf/*
/1_5_2/docs/*
/1_5_2/eclipse/*
/1_5_2/forge/*
/1_5_2/jars/*
/1_5_2/lib/*
/1_5_2/logs/*
/1_5_2/modsrc/*
/1_5_2/reobf/*
/1_5_2/runtime/*
/1_5_2/temp/*

*.bat
*.sh
LICENSE.txt
CHANGELOG