/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/externalmods/*
/src/minecraft/*
/src/minecraft/fr/mcnanotech/*
!/src/minecraft/fr/mcnanotech/kevin_68
!/src/minecraft/mods/Nanotech_mod
!/src/minecraft/mods/UltimateGraviSuite


*.bat
*.sh
LICENSE.txt
CHANGELOG
