/bin/*
/builds/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/cpw/*
/src/minecraft/net/*
/src/minecraft/ibxm/*
/src/minecraft/paulscode/*
/src/minecraft/*.cfg
/src/minecraft/fmlversion.properties
/src/minecraft/*.png
/src/minecraft/Start.java
/src/minecraft/mcpmod.info
/src/minecraft/gfx/*
/src/minecraft/lang/*

*.bat
*.sh
!build.sh
LICENSE.txt
CHANGELOG